.fixed-button-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .fixed-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    min-height: 20vh; 
    width: 50vw;
    text-align: center;
  }
  
  .action-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  