html, body {
  margin: 0;
  padding: 0;
  overflow: auto; 
  height: auto; 
}

.request-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea al inicio para que la altura de la página determine el scroll */
  width: 100vw;
  position: relative;
}

.request-details {
  flex-direction: column;
  width: 40vw;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
  overflow: hidden; 
  border-radius: 7px;
}


.pdf-viewer {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 110vh;
    position: fixed;
    right: -50vw; 
    top: 0;
    background-color: #d3e6ff;
    transition: transform 0.5s ease-in-out;
}

.split-view .pdf-viewer {
  transform: translateX(-45vw); 
}

.split-view .request-details {
  transform: translateX(-20vw); 
}

.document-button {
  padding: 6px 9px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 15px;
}

.document-button:hover {
  background-color: #0056b3;
}
